.mainPage{
    width: 100vw;
    height: 100vh;
}

.headerHolder{
    height: 7%;
    width: 100%;
    background-color: gray;
}

.content{
    height: 83%;
    width: 100%;
    display: flex;
}

.playlistsHolder{
    flex: 0 0 15%;
    overflow-y: scroll;
}

.songsHolder{
    flex: 1;
    background-color: white;
}

.songPlayerHolder{
    height: 10%;
    width: 100%;
    background-color: gray;
}

.playListHolderTitle{
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
}