.songItem{
    border: 1px solid lightgray;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playButtonHolder{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.songInfo{
    flex: 4;
}

.artistInfo{
    flex: 2;
}

.playButtonHolder{
    height: 100%;
}

.playButton{
    height: 1.5em;
    width: 1.5em;
}

.playButton > path:hover{
    fill: black;
    cursor: pointer;
}

.playButton > path:active{
    fill: gray;
}