.songPlayerHolder{
    height: 13%;
    width: 100%;
    border-top: 1px solid lightgray;
}

.songPlayerSongName{
    margin-top: 10px;
    width: 100%;
    text-align: center;
    background-color: white;
}

.rhap_container{
    box-shadow: none;
}