.songItem{
    border: 1px solid lightgray;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none; 
}

.songItem:not(:first-child){
    border-top: none;
}

.songItem:hover{
    background-color: lightgray;
    cursor: pointer;
}

.svgHolder{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.songInfo{
    flex: 4;
}

.artistInfo{
    flex: 2;
}

.playButton{
    height: 1.5em;
    width: 1.5em;
}

.svgHover >path:hover{
    fill: black;
    stroke: black;
    cursor: pointer;
}

.svgHover >path:active{
    fill: gray;
}

.plusIcon{
    height: 1.5em;
    width: 1.5em;
}